@media screen and (min-width: 768px) {
  .posts_list_container {
    width: 80%;
    list-style: none;
    margin: auto;
    font-family: Roboto;
    box-shadow: 0px 4px 16px rgba(123, 135, 148, 0.16);
    border-radius: 16px;
    padding: 20px;
  }
  .post_item_container {
    padding-left: 0;
    list-style-type: none;
    margin: 10px auto;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
  }

  .profile_div {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 30px;
    padding-top: 20px;
  }

  .profile_pic {
    width: 40px;
    height: 40px;
    left: 26px;
    top: 16px;
    border-radius: 50%;
  }

  .profileName {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #262626;
  }

  .postImage {
    padding-top: 10px;
    height: 614px;
    width: 100%;
  }
  .social_div {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    gap: 20px;
  }
  .icon_button {
    border-style: none;
    background-color: transparent;
  }
  .icon {
    font-size: 23px;
  }

  .likes {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    color: #262626;
    margin-left: 30px;
  }
  .caption {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    color: #262626;
    margin-left: 30px;
  }
  .comments_container {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-left: 0;
  }

  .comment_item {
    display: flex;
    gap: 20px;
  }

  .commentUSerName {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
  }
  .comment {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
  }

  .createdAt {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    color: #989898;
    margin-left: 30px;
  }

  .failure_img {
    height: 50px;
    width: 50px;
    border-radius: 0px;
  }

  .failure_heading {
    font-size: 30px;
  }

  .failure-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    width: 120px;
    height: 32px;
    background: #4094ef;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-style: none;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
  }

  .failure_view_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    font-family: Roboto;
    text-align: center;
  }

  .no-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    font-family: Roboto;
    text-align: center;
  }

  .no-results-img {
    height: 409px;
    width: 500px;
    left: 470px;
    top: 244px;
    border-radius: 0px;
  }

  .no-results-heading {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #262626;
  }

  .no-results-para {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    text-align: center;
    color: #989898;
  }
}

@media screen and (max-width: 767px) {
  .posts_list_container {
    width: 100%;
    list-style: none;
    padding-left: 0;
    font-family: Roboto;
    padding-top: 20px;
  }
  .post_item_container {
    padding-left: 0;
    list-style-type: none;
    margin: 10px auto;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
  }

  .profile_div {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 30px;
    padding-top: 10px;
  }

  .failure_img {
    height: 30px;
    width: 30px;
    border-radius: 0px;
  }

  .failure_heading {
    font-size: 30px;
  }

  .failure-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    width: 120px;
    height: 32px;
    background: #4094ef;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-style: none;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
  }

  .failure_view_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    font-family: Roboto;
    text-align: center;
  }

  .profile_pic {
    width: 40px;
    height: 40px;
    left: 26px;
    top: 16px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #e20337;
  }

  .profileName {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #262626;
  }

  .postImage {
    padding-top: 10px;
    height: 375px;
    width: 100%;
  }

  .social_div {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    gap: 10px;
  }
  .icon_button {
    border-style: none;
    background-color: transparent;
  }
  .icon {
    font-size: 20px;
  }

  .searchResultsHeading {
    font-weight: 500;
    padding-left: 10px;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    color: #262626;
  }

  .likes {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.07px;
    color: #262626;
    margin-left: 30px;
  }
  .caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    letter-spacing: -0.07px;

    color: #262626;
    margin-left: 30px;
  }
  .comments_container {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-left: 0;
  }

  .comment_item {
    display: flex;
    gap: 20px;
  }

  .commentUSerName {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: -0.1px;

    color: #262626;
  }
  .comment {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.1px;
    color: #262626;
  }

  .createdAt {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    letter-spacing: 0.05px;
    color: #989898;
    margin-left: 30px;
    margin-top: 0;
  }

  .no-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    font-family: Roboto;
    text-align: center;
  }

  .no-results-img {
    height: 168px;
    width: 235px;
  }

  .no-results-heading {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #262626;
  }

  .no-results-para {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #989898;
  }
}
